<h1>List of all <%=@position.downcase%>s</h1>
<table border=1>
  <tr>
    <th>ID</th>
    <th>Image</th>
    <th>Name</th>
    <th>Dob</th>
    <th></th>
  </tr>

  <%@persons.each do |person_x|%>  
    <tr>
      <td><%=person_x.id%></td>
      <td><img src=<%=person_x.image%> alt="<%=@position%>'s headshot"></td>
      <td><%=person_x.name%></td>
      <td><%=person_x.dob%></td>
      <td><a href="/<%=@position.downcase%>s/<%=person_x.id%>">Show details</a></td>
    </tr>
  <%end%>
  </table>
